.icon-48-abteilungen {
      background-image: url(../images/l_abteilungen.png);
      padding-left:60px!important;
}

.icon-48-abteilung {
      background-image: url(../images/l_abteilungen.png);
      padding-left:60px!important;
}

.icon-48-dienstgrade {
      background-image: url(../images/l_dienstgrade.png);
      padding-left:60px!important;
}

.icon-48-dienstgrad {
      background-image: url(../images/l_dienstgrade.png);
      padding-left:60px!important;
}

.icon-48-ausbildungen {
      background-image: url(../images/l_ausbildungen.png);
      padding-left:60px!important;
}

.icon-48-ausbildung {
      background-image: url(../images/l_ausbildungen.png);
      padding-left:60px!important;
}

.icon-48-mitglieder {
      background-image: url(../images/l_mitglieder.png);
      padding-left:60px!important;
}

.icon-48-mitglied {
      background-image: url(../images/l_mitglieder.png);
      padding-left:60px!important;
}

.icon-48-termine {
      background-image: url(../images/l_termine.png);
      padding-left:60px!important;
}

.icon-48-termin {
      background-image: url(../images/l_termine.png);
      padding-left:60px!important;
}

